@import url(reset.css);

:root{
        
    /* - Mobile: 375px
    - Desktop: 1440px */

/* Primary */

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);

/* Neutral */

--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);


/* Font */
--Font-size: 1.75rem;

--ff: 'Manrope', sans-serif;
--fw: 700;

}

body{
    font-family: var(--ff);
    font-size: var(--Font-size);
    background-color: var(--Dark-Blue);
    display: grid;
    place-content: center;
    justify-content: center;
    height: 100vh;
}
.wrapper{
    max-width: 37.5rem;
    border-radius: 1.2rem;
    padding: 3.5rem 2rem;
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
}
.advice-gen{
    display: grid;
    justify-content: center;
    gap: 2rem;
}
.advice-gen img{margin: 0 auto;}
.advice{
    color: var(--Neon-Green);
    text-transform:uppercase;
    font-size: .6em;
    font-weight: 700;
    letter-spacing: 5px;
}
.quotes{color: var(--Light-Cyan); font-weight: var(--fw);}
.quotes::before,
.quotes::after {
  content: '"';
}
.bg-clr{
    /* margin-top: 3rem; */
    position: relative;
}
.button {
    position: absolute;
    top: 1.9rem;
    transform: translateX(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: var(--Neon-Green);
}
.button:hover{
    box-shadow: 0px 0px 30px var(--Neon-Green);
}

@media screen and (min-width: 375px) {
    .wrapper{
        margin: 0 1rem;
    }
    .advice{font-size: .5em;}
    .quotes{font-size: .8em;}
  }